@import url("https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap");
:root {
    --backing: #ffffff;
    --lines: #ebedfc;
    --main: #312f2d;
    --main-dark: #312f2d;
    --faint: #dfdfdf;
    --accent: #ff9100;
}

:root.dark-mode {
    --backing: #1a191b;
    --lines: #221f1b;
    --main: #dfd7cf;
    --faint: #333333;
    --accent: #ffae00;
}

* {
    font-family: "Roboto Slab";
    font-weight: 400;
}

.background {
    background-color: var(--backing);
    background-image:
        repeating-linear-gradient(
            to right,
            transparent 0,
            transparent 3px,
            var(--backing) 3px,
            var(--backing) 9px,
            transparent 9px,
            transparent 12px
        ),
        repeating-linear-gradient(
            to bottom,
            transparent 0,
            transparent 3px,
            var(--backing) 3px,
            var(--backing) 9px,
            transparent 9px,
            transparent 12px
        ),
        linear-gradient(to bottom, var(--lines) 1.08px, transparent 1.08px),
        linear-gradient(to right, var(--lines) 1.08px, transparent 1.08px);
    background-size:
        100% 100%,
        100% 100%,
        36px 36px,
        36px 36px;
    background-position:
        0 0,
        0 0,
        0 -0.36px,
        -0.36px 0;
}

.body {
    max-width: 576px;
    padding: 20px;
    gap: 10px;
    color: var(--main);
}

.header {
    background-color: var(--backing);
    border-bottom: 1px solid var(--faint);
    color: var(--main);
}

.header-button {
    height: 50px;
    width: 50px;
    padding: 0;
    border: 0;
    --bs-btn-bg: var(--backing);
    --bs-btn-color: var(--main);
    --bs-btn-border-color: var(--lines);

    --bs-btn-hover-bg: var(--backing);
    --bs-btn-hover-color: var(--main);
    --bs-btn-hover-border-color: var(--lines);

    --bs-btn-active-bg: var(--faint);
    --bs-btn-active-color: var(--main);
    --bs-btn-active-border-color: var(--lines);
    transition: all 0s ease;
}

@keyframes jump {
    0%,
    100% {
        transform: scale(1, 1) rotate(-1deg);
        filter: brightness(1);
    }
    30% {
        transform: scale(1.05, 0.92);
        filter: brightness(1);
    }
    50% {
        transform: scale(0.96, 1.1) rotate(2deg);

        filter: brightness(1.3);
    }
    70% {
        transform: scale(0.96, 1.1) rotate(2deg);

        filter: brightness(1.3);
    }
}

#streak-icon.animate {
    animation: jump 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform-origin: bottom;
}

#settings {
    background-color: var(--backing);
    border-color: var(--faint);
    border-radius: 8px;
    border-width: 1px;
}

#settings .popover-body {
    color: var(--main);
}

#settings .popover-arrow {
    display: none !important;
}

#settings.fade {
    transition: opacity 0s ease !important;
}

.title {
    white-space: nowrap;
}

.title h1 b {
    font-family: "Caladea";
    font-weight: 900;
}

.instructions .modal-header {
    color: var(--main-dark);
}

.leaderboard-header th {
    color: var(--main-dark);
}

#allowed-list-button {
    background-color: var(--main);
    color: var(--backing);
    border-color: var(--faint);
    transition: none;
}

.daily-numbers {
    white-space: nowrap;
}

.submit-message {
    width: fit-content;
    max-width: 400px;
}

.offcanvas {
    background-color: var(--backing);
}

.modal-content {
    background-color: var(--backing);
}

.changelog .modal-content,
.changelog a {
    color: var(--main);
    white-space: pre-wrap;
}

.changelog ul li {
    margin-bottom: 5px;
}

.changelog ul li::marker {
    content: ">";
    font-weight: bold;
    color: var(--accent);
    display: inline-block;
    width: 1em;
}

.changelog ul li span {
    position: relative;
    left: 0.5em;
}

.changelog h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--accent);
    margin: 0;
}

.changelog h2 {
    font-size: 14px;
}

.changelog .description {
    margin-top: 1em;
    margin-bottom: 1em;
}

.math-input {
    width: 100%;
    background-color: var(--backing);
    color: var(--main);
    border: 1px solid var(--faint);
    outline-color: var(--main);
    height: 3rem;
    min-height: 3rem;
    padding: 0.66rem;
    resize: vertical;
    overflow: hidden;
}

.info-bracket {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 8px;
}

.btn-outline-dark {
    color: var(--main);
    border-color: var(--main);
}

.nameInput {
    margin-top: -10vh;
    grid-column: 3;
    grid-row: 3;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    height: 7vh;
}

.nameInput input {
    padding: 6px;
    font-size: 1rem;
}

.nameInput button {
    padding: 6px 12px;
    font-size: 0.7rem;
}

.nameInputDisclaimer {
    grid-column: 3;
    grid-row: 4;
    margin-top: -4vh;
}
